<!DOCTYPE html>
<html>
<head>
  <title>On the Fluffy Couch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'layouts/shared/header' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'layouts/shared/navbar' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><%= link_to 'The Fluffy Couch' %></li>
        <!--<li role="presentation"><%= link_to 'Stealthy Kitty' %></li>-->
      </ul>
    </div>
    <div class="col-md-10">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>